
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: rgb(239, 225, 191);
	font-family: KaushanScript-Regular, serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.navbar {
	background-image: url(../images/navbar-background.png);
	background-repeat: no-repeat;
	background-position: 20% 40%;
	z-index: 99;
	color: #c9a04f;

}

.footer {
	background-image: url(../images/navbar-background.png);
	background-repeat: no-repeat;
	background-position: 20% 40%;
}

.logo {
width: 70px;
}

ul {list-style-type: none;}

/* Month header */
.month {
	padding: 40px 25px;
	width: 100%;
	background: #941b20;
	text-align: center;
}

/* Month list */
.month ul {
	margin: 0;
	padding: 0;
}

.month ul li {
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
	float: left;
	padding-top: 10px;
}

/* Next button */
.month .next {
	float: right;
	padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
	margin: 0;
	padding: 10px 0;
	background-color:#ddd;
}

.weekdays li {
	display: inline-block;
	width: 12%;
	color: #666;
	text-align: center;
}

/* Days (1-31) */
.days {
	padding: 10px 0;
	background: #eee;
	margin: 0;
}

.days li {
	list-style-type: none;
	display: inline-block;
	width: 12%;
	text-align: center;
	margin-bottom: 5px;
	font-size:10px;
	color: #777;
}

/* Highlight the "current" day */
.days li .active {
	padding: 5px;
	background: #2400a0;
	color: white !important
}


/* Hide the links inside the navigation menu (except for logo/home) */
.navbar #myLinks {
	display: none;
}

/* Style navigation menu links */
.navbar a {
	color: #c9a04f;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

.navbar-dark {
	color: #c9a04f;
}

.slideshow {
	width: 100%;
}


.textbox {

}

.introbox {

}

.carousel-caption {
color: #595959;
	text-decoration:solid black;
}

.icon {
	height: 75px;
	width: auto;
}

.content-wrapper {
	padding-top: 100px;
}

.maps{
	height: 250px;
}

.navbar-toggler-icon {
	color: #c9a04f;
}

.nav-link {
	color: #c9a04f;
}

.introbox {
	text-align: center;
}


@media screen and (min-width: 768px) {
	.logo {
		width: 100px;
	}
}
