
* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

.bg-white {
	background-color: white;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}


#desktop {
object-fit: cover;
}
.btn-area {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, 100%);
	z-index: 2;
}



.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -10%);
	z-index: 2;
}

.video {
	max-width: 100%;
}

.btn-blue {
	background-color: #9af5d9;
	border-color: #508071;
	border-radius: 8px;
}
.btn-yellow {
	background-color: #f5e99a;
	border-color: #807950;
	border-radius: 8px;
}
.btn-pink {
	background-color: #fbbcf2;
	border-color: #80607b;
	border-radius: 8px;
}
.btn-purple {
	background-color: #d79af5;
	border-color: #705080;
	border-radius: 8px;
}

.icon {
	height: 20px;
}